<!DOCTYPE html>
<html>
<head>
  <title>Love It or Leave It</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href='/love-it/foods'>Favorite Foods</a>
    <a href='/love-it/animals'>Favorite Animals</a>
    <a href='/leave-it/movies'>Worst Movies</a>
    <a href='/leave-it/products'>Worst Products</a>
  </nav>
  <%- body %>
</body>
</html>